<div class="panel panel-default">

  <div class="panel-heading">
    <h2>Weight Log</h2>
  </div>

  <div class="panel-body">

          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Weight Lost (%)</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @weights.each do |weight| %>
                <tr>
                  <% if weight.user == current_user %>
                        <td><%= weight.created_at.to_date %></td>
                        <td><%= weight.weight %></td>
                        <td><%= weight.weight_loss_percentage %>
                        <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
                        <td><%= link_to 'Delete', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>

                  <% end %>
                
                </tr>
              <% end %>
            </tbody>
          </table>

    </div>

    <% if user_signed_in? %>

    <div class="panel-footer center">
      <%= link_to 'New Weight', new_weight_path, class: "btn btn-primary" %>
    </div>
    
<% end %>


</div>
