<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @weight.created_at.to_date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weight.weight %>
</p>

<% if @weight.user == current_user %>
	<%= link_to 'Edit', edit_weight_path(@weight) %> |
<% end %>
<%= link_to 'Back', weights_path %>

