<% if !user_signed_in? %>
	<div class="jumbotron center">
		<hgroup>
			<h1>Purge off the weight for 2014</h1>
			<h2>Protect versus Perform, which side are you on?</h2>
		</hgroup>

		<%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</div>
<% else %>    

	<div class="panel panel-default" style="margin: 2em 0 1.5em">

		<div class="panel-heading center">
			<h2>Dashboard</h2>
		</div>

		<div class="panel-body">

			<% @users = User.all %>

			<table class="table">
			            <thead>
			              <tr>
		              	    <th>Name</th>
			                <th>Team</th>
			                <th>Location</th>
			                <th>% Weight Lost</th>
			              </tr>
			            </thead>


			            <tbody>

	
			              <% @users.each do |user| %>
			                <tr>
			                        <td><%= user.name %></td>
			                        <td><%= user.user_team %></td>	
			                        <td><%= user.user_location %></td>
			                        <td><%= user.weights.last.weight_loss_percentage %></td>
			                </tr>
			              <% end %>

			            </tbody>
		            </table>
		</div> 
	</div>


	<div class="panel panel-default">

		<div class="panel-heading center">
			<h2>Location Statistics</h2>
		</div>

		<div class="panel-body">

			<table class="table">
			            <thead>
			              <tr>
		              	    <th>Location</th>
			                <th>Weight Lost (lbs)</th>
			              </tr>
			            </thead>


			            <tbody>

		            	<% atlanta_weight_array = Array.new %>
		            	<% @atlanta = @users.select { |user| user.user_location == 'Atlanta'} %>

		            	<% @atlanta.each do |user| %>
		            		<% user.weights.last.weight %>
		            		<% atlanta_weight_array.push((user.weights.last.weight - user.weights.first.weight).abs) %>
		            	<% end %>


		                	<tr>
			                        <td>Atlanta</td>
			                        <% if atlanta_weight_array.empty? %>
			                        	<td>0</td>
		                        	<% else%> 
			                        	<td><%= atlanta_weight_array.inject(:+) %></td>
		                        	<% end %>	
		                	</tr>


		                	<% cambridge_weight_array = Array.new %>
		                	<% @cambridge = @users.select { |user| user.user_location == 'Cambridge'} %>

		                	<% @cambridge.each do |user| %>
		                		<% user.weights.last.weight %>
		                		<% cambridge_weight_array.push((user.weights.last.weight - user.weights.first.weight).abs) %>
		                	<% end %>

		                	<tr>
			                        <td>Cambridge</td>
			                        <% if cambridge_weight_array.empty? %>
			                        	<td>0</td>
		                        	<% else%> 
			                        	<td><%= cambridge_weight_array.inject(:+) %></td>
			                        <% end %>	
		                	</tr>
		                	
			             <% san_mateo_weight_array = Array.new %>
			             <% @san_mateo = @users.select { |user| user.user_location == 'San Mateo'} %>

			             <% @san_mateo.each do |user| %>
			             	<% user.weights.last.weight %>
			             	<% san_mateo_weight_array.push((user.weights.last.weight - user.weights.first.weight).abs) %>
			             <% end %>   	

		                	<tr>
			                        <td>San Mateo</td>
			                        <% if san_mateo_weight_array.empty? %>
			                        	<td>0</td>
		                        	<% else%> 	
		                        		<td><%= san_mateo_weight_array.inject(:+) %></td>
	                        		<% end %>
		                	</tr>

			            </tbody>
		            </table>
		</div> 
	</div>


	<div class="panel panel-default">

		<div class="panel-heading center">
			<h2>Team Statistics</h2>
		</div>

		<div class="panel-body">

			<table class="table">
			            <thead>
			              <tr>
		              	    <th>Team</th>
			                <th>Weight Lost (lbs)</th>
			              </tr>
			            </thead>


			            <tbody>

		            	<% protect_weight_array = Array.new %>
			             <% @protect_users = @users.select { |user| user.user_team == 'Protect'} %>

			             <% @protect_users.each do |user| %>
			             	<% user.weights.last.weight %>
			             	<% protect_weight_array.push ((user.weights.last.weight - user.weights.first.weight).abs) %>
			             <% end %>   	

		                	<tr>
			                        <td>Protect</td>
			                        <% if protect_weight_array.empty? %>
			                        	<td>0</td>
		                        	<% else%> 	
			                        	<td><%= protect_weight_array.inject(:+) %></td>	
		                        	<% end %>
		                	</tr>

		            	<% perform_weight_array = Array.new %>
			             <% @perform_users = @users.select { |user| user.user_team == 'Perform'} %>

			             <% @perform_users.each do |user| %>
			             	<% perform_weight_array.push ((user.weights.last.weight - user.weights.first.weight).abs) %>
			             <% end %> 

		                	<tr>
			                        <td>Perform</td>
			                        <% if perform_weight_array.empty? %>
			                        	<td>0</td>
		                        	<% else%> 	
			                        	<td><%= perform_weight_array.inject(:+) %></td>	
		                        	<% end %>
		                	</tr>

			            </tbody>
		            </table>
		</div> 
	</div>
<% end %>
